<%= form_with(model: asset, local: true) do |form| %>
  <div class="field">
    <%= form.label :priority %>
    <%= form.text_field :priority, value: asset.priority %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
