/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/tree";
@import "codemirror";
@import "codemirror/themes/material";
body {
    font-size: 13px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}

#app {
    margin-top: 50px;
    margin-left: 0px !important;
}

#cms-editor-grid {
    margin-left: -17px !important;
    background: #343a40;
}

#preview_content {
    background: #40454a;
}

.purple-icon {
    color: #e06be0;
}

.pink-icon {
    color: #ef8585;
}

.orange-icon {
    color: #e4be60;
}

.CodeMirror {
    margin-left: -15px !important;
}

.nav-tabs {
    margin-top: 10px;
    border-bottom: none !important;
}

.edit-file {
    cursor: pointer;
}

.nav-tabs>li>a.active {
    color: white;
}

.edit-asset {
    cursor: pointer;
}

.nav-tabs>li>a {
    margin-left: 4px;
    color: #788088;
}

.nav-tabs>li .close {
    margin: -1px 0 0 5px;
    font-size: 16px;
    color: white;
}


/* Resizable Grid */

.resizable-grid>.resizable-row>.resizable-column>.resizable-column-handle {
    z-index: 100;
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 6px;
    cursor: col-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
}

.resizable-grid>.resizable-row>.resizable-column>.resizable-column-handle-w {
    left: 12px;
}

.resizable-grid>.resizable-row>.resizable-column>.resizable-column-handle-e {
    right: 12px;
}

.resizable-grid>.resizable-row>.resizable-column:first-child:not(:last-child)>.resizable-column-handle-e,
.resizable-grid>.resizable-row>.resizable-column:not(:first-child):not(:last-child)>.resizable-column-handle-w,
.resizable-grid>.resizable-row>.resizable-column:not(:first-child):not(:last-child)>.resizable-column-handle-e,
.resizable-grid>.resizable-row>.resizable-column:last-child:not(:first-child)>.resizable-column-handle-w {
    display: block;
}

.resizable-grid-resizing {
    cursor: col-resize;
}

.resizable-grid>.resizable-row-resizing>.resizable-column:not(.resizable-column-resizing) {
    opacity: 0.5;
}

#error_explanation {
  background: #c52424;
  color: white;
}