/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/tree";
@import "codemirror";
@import "codemirror/themes/material";

body {
  font-size: 13px;
}

#app {
  margin-top: 50px;
  margin-left: 0px !important;
}

#cms-editor-grid {
  margin-left: -17px !important;
  background: #343a40;
}

#preview_content {
  background: #40454a;
}

.purple-icon {
  color: #e06be0;
}

.CodeMirror {
  margin-left: -15px !important;
}

.nav-tabs {
  margin-top: 10px;
  border-bottom: none !important;
}

.edit-file {
  cursor: pointer;
}

.nav-tabs > li > a {
  margin-left: 4px;
  color: #788088;
}

.nav-tabs > li .close {
  margin: -1px 0 0 5px;
  font-size: 16px;
  color: white;
}

